:root{
    --italy-red: #C0392B;
    --italy-green: #2E7D32;
    --italy-white: #F4F1EC;
}

.about {
    padding: 200px;
    text-align: center;
    background-color: #ede6dc;
    margin-top: 200px;
}

.title-abt {
    font-family: "Playfair Display", serif;
    font-size: 48px;
}

.about hr {
    width: 150px;
    border: 2px solid tomato;
    position: relative;
    right: 50%;
    left: 44%;
    margin-top: 10px;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    margin-top: 100px;
}

.about-us p {
    font-size: 18px;
    line-height: 2.0;
    color: #333;
    width: 500px;
}

.about-us img {
    width: 550px;
    height: 400px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 400px;
    gap: 20px;
    padding: 10px;
}

.card h3 {
    color: #2E7D32;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Shadows Into Light", cursive;
}

.card p {
    font-size: 36x;
    color: #666;
    font-family: "Shadows Into Light", cursive;
}