.about {
    padding: 300px;
    text-align: center;
    background-color: #ede6dc;
    margin-top: 200px;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    margin-top: 100px;
}

.about-us p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    width: 500px;
}

.about-us img {
    width: 500px;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 334px;
    gap: 20px;
    padding: 10px;
}

.card h3 {
    color: tomato;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Shadows Into Light", cursive;
}

.card p {
    font-size: 16px;
    color: #666;
    font-family: "Shadows Into Light", cursive;
}