.book {
    padding: 100px;
}

.parallax {
    /* The image used */
    background-image: url("images/book.jpg");
    
    /* Set a specific height */
    min-height: 500px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid red;
}

.content {

}

.content h1 {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px 4px #000000;
}