.book {
    padding: 100px;
}

.book img {
    width: 800px;
    height: auto;
}

.book-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.book h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}

.book button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

.book button:hover {
    background-color: #45a049;
}

.book h3 {
    font-size: 24px;
    color: white;
    font-family: "Arial", sans-serif;
}