.header {
    display: flex;
    flex-direction: column;

}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.buttons-nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo {
    width: 250px;
    cursor: pointer;
}

.buttons-nav p {
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    transition: border-bottom 0.3s;
    font-size: 1.2em;
}

.buttons-nav p:hover {
    border-bottom: 2px solid tomato;
}

.main-img {
    width: 700px;
}

select {
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    cursor: pointer;
}

option {
    background-color: #181818;
    color: white;
}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.sect-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title-main {
    color: white;
    font-size: 68px;
    width: 700px;
    font-family: "Poppins", sans-serif;
}

.header-button {
    padding: 15px 30px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 30px;
    transition: 0.3s background-color;
}

.header-button:hover {
    background-color: #e2582285;
}